//
   Created by Nick on 29/08/2017.

extends layout

header
    h1 title

block content
    form(method='POST', action='/admin')
        p Tutor:
        input(type='text', name='tutor')
        p Form name
        input(type='text', name='Form')
        p Year group
        input(type='number', name='year')
        br
        br
        button Submit

